{% extends 'iotfaults/dashboardlayout.html' %}
{% load staticfiles %}

{% block header_content %}

    <!--HighCharts Stock Graphics-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <!--HighCharts Stock Graphics File Exporting-->
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <!--HighCharts Stock Graphics Data Exporting-->
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    
    <!--Graphics Controller hols graphics rendering-->
    <script src="{% static 'js/iotfaults/graphicsController.js' %}"></script>


    <!-- joewalnes/reconnecting-websocket: A small decorator for -->
    <!-- the JavaScript WebSocket API that automatically reconnects-->
    <script src="{% static 'js/iotfaults/reconnecting-websocket.js' %}"></script>
    <script>
        /***** UTILITIES *****/
        
        /** 
         * Open Url on new window.
         * @param {url} urlToOpen - Url to open
         */
        function openOnNewWindow(urlToOpen) {
            window.open(window.location.origin + urlToOpen, '_blank');
        }
    
        /** 
         * Mark and option as selected.
         * @params {element} selectComponent
         * @params {string} optionValue
         */
        function markOptionAsSelected(selectComponent, optionValue) {
            var opt = $("select#" + selectComponent[0].id + " option[value=" + optionValue + "]"),
            html = $("<div>").append(opt.clone()).html();
            html = html.replace(/\>/, ' selected="selected">');
            opt.replaceWith(html);
        }
        
        /***** MAP *****/
        
        /* global google */
        
        /** Var map holds Google map */
        var map;
        var mapMetadata;
        /** Var markers holds all Google Map markers to show */
        var markers = [];
        
        /** 
         * Initialize map. Designed to be callbackk in google API.
         */
        function initMap() {
            map = new google.maps.Map(
                document.getElementById('divComponentMap'), {zoom: 17});
        }

        /** 
         * Adds a marker to the map and push to the array.
         */
        function addMarker(position, title) {
            var infowindow = new google.maps.InfoWindow({
    content: "<span>any html goes here</span>"
});
            var marker = new google.maps.Marker({
                position: position, 
                title: title, 
                map: map,
                my_especial_data: 'Super secreto'
            });
            markers.push(marker);
            
            google.maps.event.addListener(marker, 'click', function(e) {
  infowindow.open(map,marker);
});
        }
        
        /** 
         * Sets the map on all markers in the array.
         */
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
    
        /** 
         * Removes the markers from the map, but keeps them in the array.
         */
        function clearMarkers() {
            setMapOnAll(null);
        }
    
        // /** 
        //  * Shows any markers currently in the array.
        //  */
        // function showMarkers() {
        //    setMapOnAll(map);
        // }
    
        /** 
         * Deletes all markers in the array by removing references to them.
         */
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }
        
        /** 
         * Paint map component with markers in data.
         * @param {list:obj} data
         */
        function setDataComponentLocationMap(data) {
            mapMetadata = data.metadata;
            deleteMarkers();
            var bounds = new google.maps.LatLngBounds();
            var len = data.pointsData.length;
            for (var i = 0; i < len; i++) {
                var obj = data.pointsData[i];
                var title = 'Id: ' + obj["id"] +
                    '\nName: ' + obj["name"] +
                    '\nUrl: ' + obj["url"] +
                    '\nEvents: ' + obj["event_count"];
                var position = new google.maps.LatLng(
                    parseFloat(obj["latitude"]), parseFloat(obj["longitude"]));
                addMarker(position, title);
                bounds.extend(position);
            } 
            map.fitBounds(bounds);
        }
        
        /** 
         * Refresh map component location.
         */
        function loadInitDataComponentLocationMap() {
            var url = "{% url 'iotfaults:component-event-count-for-map' 'quantity_placeholder' 'date_type_placeholder' %}";
            var quantity = $( "#sQuantityComponentLocation" ).val(); 
            var datetype = $( "#sDateTypeComponentLocation" ).val(); 
            url = url.replace('quantity_placeholder', quantity).replace('date_type_placeholder', datetype);
            $.getJSON(url).done(setDataComponentLocationMap);
        }
        

        /***** WEBSOCKET *****/
        
        /** 
         * Get Event WebSocket path.
         */
        function getEventWebSocketPath() {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host +
                '/ws/iotfaults/event/';	
            return ws_path;
        }

        /* global ReconnectingWebSocket*/
        /** 
         * Configure Event WebSocket.
         * @listens event:onmessage
         * @listens event:onclose
         */
        function getEventWebSocket() {
            var ws_path = getEventWebSocketPath();
            
            //var webSocket = new WebSocket(ws_path);
            var webSocket = new ReconnectingWebSocket(ws_path);
            webSocket.debug = true;
            webSocket.timeoutInterval = 5400;
            webSocket.maxReconnectAttempts = 10;
        
            webSocket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var event_created = data['message'];
                if (event_created != null) {
                    setArrayDataEventsGraph([event_created]);
                    loadInitDataComponentEventCountGraph();
                    loadInitDataComponentLocationMap();
                }
            };
        
            webSocket.onclose = function(e) {
                console.error('Event socket closed unexpectedly');
            };
            
            return webSocket;
        }

        /** Var that holds Event Web socket */
        /* exported eventWebSocket */
        var eventWebSocket;
        
        function connectToEventWebSocket() {
            eventWebSocket = getEventWebSocket();
        }
        
        /***** EVENTS GRAPH *****/
        
        /** Var eventsGraph holds Events Graph. */
        var eventsGraph;
        /** Var faultShapes holds all posible Fault Marker Shapes. */
        var faultShapes = ["triangle", "square", "circle", "diamond", 
            "triangle-down"];
        /** Var componentColors holds all posible Component Marker Colors. */
        var componentColors = ["#7cb5ec", "#434348", "#90ed7d", "#f7a35c", 
            "#8085e9", "#f15c80", "#e4d354", "#2b908f", "#f45b5b", "#91e8e1"];

        /* global moment*/
        /** 
         * Load data in an array into Events Graph.
         */
        function setArrayDataEventsGraph(data) {
            const len = data.length,
                serie = eventsGraph.series[0];
            for (var i=0; i < len; i++) {
                const event = data[i],
                    x = moment(event.time).toDate().getTime(), 
                    y = 0,
                    indexFaultShape = (event.type_id % 5) - 1,
                    indexComponentColor = (event.component_id % 10) - 1;
                serie.addPoint(
                {
                    x: x,
                    y: y,
                    marker: {
                        radius: 4,
                        symbol: faultShapes[indexFaultShape],
                        fillColor: componentColors[indexComponentColor],
                    },
                    faultName: event.type_name,
                    componentName: event.component_name,
                }, false);                
            }
            if ((serie != null) && (serie.data.length > 1000)) {
                serie.data.shift();
            }
            eventsGraph.redraw();
        }        

        /** 
         * Load initial data from server into Events graph.
         */
        function loadInitDataEventsGraph() {
            var url = "{% url 'iotfaults:event-last' %}";
            $.getJSON(url).done(setArrayDataEventsGraph);
        }

        /* global Highcharts */
        /** 
         * Initialize Events Graph. 
         */
        function initEventsGraph() {
            // Create the chart
            eventsGraph = Highcharts.stockChart('divEventsGraph', {
                title: {
                    text: ''
                },

                tooltip: {
                    formatter: function() {
                    	var txt = '<b>Component:</b> ' + this.points[0].point.componentName + '<br>' +
                      	'<b>Fault: </b> ' + this.points[0].point.faultName + '<br>' +
                        '<b>Time: </b> ' + 
                      	Highcharts.dateFormat('%I:%M:%S %P - %a, %e %b, %y', new Date(this.x)); 
                        return txt;
                    }
                },
                // //https://stackoverflow.com/questions/24627345/create-graph-in-tooltip-of-highchart
                // tooltip: {
                //     useHTML: true,
                //     formatter: function() {
                //         var i = this.key;
                //         setTimeout( function() {
                //             $("#hc-tooltip").highcharts({
                //                 chart: {
                //                     height: 100,
                //                     type: 'column'
                //                 },
                //                 credits: {
                //                     enabled: false
                //                 },
                //                 title: {
                //                     text: null  
                //                 },
                //                 exporting: { 
                //                     enabled: false
                //                 },
                //                  yAxis: {
                //                     min: 0,
                //                     title: {
                //                         text: 'Rainfall (mm)'
                //                     }
                //                 },
                //                 xAxis: {
                //                     categories: [
                //                         'Jan',
                //                         'Feb',
                //                         'Mar',
                //                         'Abr'
                //                     ],
                //                     crosshair: true
                //                 },
                //                 series: [{
                //                     showInLegend: false,  
                //                     data: [49.9, 71.5, 32, 88]
                //                 }]
                //             });
                //         }, 10)
        
                //     	var txt = '<b>Component:</b> ' + this.points[0].point.componentName + '<br>' +
                //           	'<b>Fault: </b> ' + this.points[0].point.faultName + '<br>' +
                //             '<b>Time: </b> ' + 
                //           	Highcharts.dateFormat('%I:%M:%S %P - %a, %e %b, %y', new Date(this.x)) +
                //           	'<div id="hc-tooltip"></div><br><br><br><br><br><br>'; 
                //         return txt;
                //     }
                // },
                yAxis: {
                    labels: {
                    	enabled: false
                    }
                },
                
                xAxis: {
                    ordinal: false
                },
            
        		time: {
                    useUTC: false
                },
            
                rangeSelector: {
                    buttons: [{
                        count: 10,
                        type: 'second',
                        text: '10S'
                    }, {
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 1
                },
            
                series: [{
                    name: 'Random data',
                    lineWidth: 0,
                    marker: {
                      enabled: true,
                      radius: 2
                    },
                    tooltip: {
                      valueDecimals: 2
                    },
                    states: {
                      hover: {
                        lineWidthPlus: 0
                      }
                    }
                }]
            });
            loadInitDataEventsGraph();
        }

        /***** ACCUMULATED EVENT GRAPH *****/
        
        /** Var eventsGraph holds Accumulated Events Graph. */
        var componentEventCountGraph;
        var componentEventCountGraphMetadata;

        /** 
         * Load initial data from server into Accumulated Events graph.
         */
        function setDataComponentEventCountGraph(data) {
            componentEventCountGraphMetadata = data.metadata;
            componentEventCountGraph.xAxis[0].setCategories(data.categories, false);
            // Remove all series
            var len = componentEventCountGraph.series.length, i;
            for (i=len-1;i>=0;i--) {
                componentEventCountGraph.series[i].remove(false, false);
            }
            len = data.series.length;
            for (i=0;i<len;i++) {
                componentEventCountGraph.addSeries(data.series[i], false, false);
            }
            componentEventCountGraph.redraw();
        }

        /** 
         * Load initial data from server into Accumulated Events graph.
         */
        function loadInitDataComponentEventCountGraph() {
            var url = "{% url 'iotfaults:component-event-date-group-count-last' 'quantity_placeholder' 'date_type_placeholder' %}";
            var quantity = $( "#sQuantityComponentFaults" ).val(); 
            var datetype = $( "#sDateTypeComponentFaults" ).val(); 
            url = url.replace('quantity_placeholder', quantity).replace('date_type_placeholder', datetype);
            $.getJSON(url).done(setDataComponentEventCountGraph);
        }

        /** 
         * Initialize Events Graph. 
         */
        function initComponentEventCountGraph() {
            componentEventCountGraph = Highcharts.chart('divComponentEventCountGraph', {
                
                chart: {
                    type: 'line',
                    animation: false
                },
        		title: {
        			text: ''
        		},
                yAxis: {
                    title: {
                        text: 'Number of Faults'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
            
                plotOptions: {
                    series: {
                        animation: false
                    },
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
            
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }
            
            });
            loadInitDataComponentEventCountGraph();
        }
        
    </script>

{% endblock %}


{% block dashboard_content %}
    <br>
    <div class="row">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> Component with Events
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class='col-xs-1'>
                            <label for="sQuantityComponentLocation">Last:</label>
                        </div>
                        <div class='col-xs-2'>
                            <select id="sQuantityComponentLocation" class="form-control selcls"></select>
                        </div>
                        <div class='col-xs-2'>
                            <select id="sDateTypeComponentLocation" class="form-control selcls">
                                <option value="Years">Years</option>
                                <option value="Months">Months</option>
                                <option value="Weeks">Weeks</option>
                                <option value="Days">Days</option>
                                <option value="Hours">Hours</option>
                                <option value="Minutes">Minutes</option>
                                <option value="Seconds">Seconds</option>
                            </select>
                        </div>
                        <script type="text/javascript">
                            /* global loadInitDataComponentLocationMap, markOptionAsSelected */
                            $(function () {
                                var options = "";
                                for(var i=1; i <=60; i++) {
                                  options += "<option value=" + i + ">"+ i +"</option>";
                                }
                                const sQuantityComponentLocation = $("#sQuantityComponentLocation");
                                const sDateTypeComponentLocation = $("#sDateTypeComponentLocation");
                                sQuantityComponentLocation.append( options );
                                sQuantityComponentLocation.on('change', function() {
                                    loadInitDataComponentLocationMap();
                                });
                                sDateTypeComponentLocation.on('change', function() {
                                    loadInitDataComponentLocationMap();
                                });
                                markOptionAsSelected(sQuantityComponentLocation, "5");
                                markOptionAsSelected(sDateTypeComponentLocation, "Minutes") 
                            });
                        </script>                    
                    </div>
                    <div class="row">
                        <div id="divComponentMap" class="z-depth-1" style="height: 500px"></div>
                        <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=initMap" async defer></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-line-chart fa-fw"></i> Last Events
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="divEventsGraph" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-line-chart fa-fw"></i> Components Faults
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class='col-xs-1'>
                        <label for="sQuantityComponentFaults">Last:</label>
                    </div>
                    <div class='col-xs-2'>
                        <select id="sQuantityComponentFaults" class="form-control selcls"></select>
                    </div>
                    <div class='col-xs-2'>
                        <select id="sDateTypeComponentFaults" class="form-control selcls">
                            <option value="Years">Years</option>
                            <option value="Months">Months</option>
                            <option value="Weeks">Weeks</option>
                            <option value="Days">Days</option>
                            <option value="Hours">Hours</option>
                            <option value="Minutes">Minutes</option>
                            <option value="Seconds">Seconds</option>
                        </select>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            /* global loadInitDataComponentEventCountGraph, markOptionAsSelected */
                            var options = "";
                            for(var i=1; i <=60; i++) {
                                options += "<option value=" + i + ">"+ i +"</option>";
                            }
                            const sQuantityComponentFaults = $("#sQuantityComponentFaults");
                            const sDateTypeComponentFaults = $("#sDateTypeComponentFaults");
                            sQuantityComponentFaults.append( options );
                            sQuantityComponentFaults.on('change', function() {
                                loadInitDataComponentEventCountGraph();
                            });
                            sDateTypeComponentFaults.on('change', function() {
                                loadInitDataComponentEventCountGraph();
                            });
                            markOptionAsSelected(sQuantityComponentFaults, "5");
                            markOptionAsSelected(sDateTypeComponentFaults, "Minutes") 
                        });
                    </script>                    
                </div>
                <div class="row">
                    <div id="divComponentEventCountGraph" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /* global connectToEventWebSocket, initEventsGraph, loadInitDataComponentLocationMap, initComponentEventCountGraph */
        $(document).ready(function() {
            loadInitDataComponentLocationMap();
            initEventsGraph();
            initComponentEventCountGraph();
            connectToEventWebSocket();
        });
    </script>

{% endblock %}
