{% extends 'iotfaults/layout.html' %}
{% load staticfiles %}
{% block header_content %}
    <script
   		   src="https://code.jquery.com/jquery-3.2.1.js"
   		   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
   		   crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/iotfaults/graphicsController.js' %}"></script>
    





{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pie-chart fa-fw"></i> Fault Types
        </div>
        <div class="panel-body">
            <div id="graphPieFaultTypes" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-line-chart fa-fw"></i> Components Faults
        </div>
        <div class="panel-body">
            <div id="graphLineUrlFaults" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
        $.getJSON("{%url 'iotfaults:datafaulttypes'%}").done(paintGraphPieFaultTypes);
        $.getJSON("{%url 'iotfaults:dataurlfaults'%}").done(paintGraphLineUrlFaults);
    });
</script>

{% endblock %}

